# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs and databases
*.log
*.sqlite3
*.db

# Unit test / coverage reports
.coverage
.tox/
.nox/
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/
*.iml

# MyPy cache
.mypy_cache/

# Docker
*.dockerignore

# macOS files
.DS_Store

# Windows Thumbs.db
Thumbs.db
